<div [class]="getContainerClass()">
  <div class="stars-container">
    <span *ngFor="let star of stars" 
          class="star" 
          [ngClass]="getStarClass(star)"
          (click)="setRating(star)"
          (mouseenter)="setHoverRating(star)"
          (mouseleave)="resetHoverRating()">
      <i class="fas fa-star"></i>
    </span>
  </div>
  
  <span *ngIf="showValue" class="rating-value">{{ formatRating(rating) }}</span>
</div>
<script src="https://sites.super.myninja.ai/_assets/ninja-daytona-script.js"></script>